<mat-card class="component-card">
    <img mat-card-image [src]="component.image" [alt]="component.name">
    <mat-card-content>
      <h2>{{ component.name }}</h2>
      <p class="description">{{ component.description }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary" (click)="onEdit()">
        <mat-icon>edit</mat-icon>
        Edit
      </button>
      <button mat-button color="warn" (click)="onDelete()">
        <mat-icon>delete</mat-icon>
        Delete
      </button>
    </mat-card-actions>
  </mat-card>