<div class="dialog-container">
    <h2 mat-dialog-title>Modification de la commande</h2>
    <mat-dialog-content>
        <p>Êtes-vous sûr de vouloir modifier votre commande ?</p>
        <p class="info-text">Vos articles seront remis dans votre panier.</p>
    </mat-dialog-content>
    <mat-dialog-actions align="start">
        <button mat-button color="basic" (click)="onCancel()">ANNULER</button>
        <button mat-raised-button color="primary" (click)="onConfirm()">CONFIRMER</button>
    </mat-dialog-actions>
</div>