# BDD POSTGRE
DATABASE_URL_POSTGRE="postgresql://${DATABASE_USER_POSTGRE}:${DATABASE_MDP_POSTGRE}@${DATABASE_HOST_POSTGRE}:${DATABASE_PORT_POSTGRE}/${DATABASE_NAME_POSTGRE}"
DATABASE_MDP_POSTGRE="password"
DATABASE_USER_POSTGRE="user"
DATABASE_NAME_POSTGRE="dbname"
DATABASE_HOST_POSTGRE="localhost"
DATABASE_PORT_POSTGRE="5432"

# BDD MONGO
DATABASE_URL_MONGO="mongo://${DATABASE_USER_MONGO}:${DATABASE_MDP_MONGO}@${DATABASE_HOST_MONGO}:${DATABASE_PORT_MONGO}/${DATABASE_NAME_MONGO}"
DATABASE_MDP_MONGO="password"
DATABASE_USER_MONGO="user"
DATABASE_NAME_MONGO="dbname"
DATABASE_HOST_MONGO="localhost"
DATABASE_PORT_MONGO="5432"
