# PostgreSQL
DATABASE_USER_POSTGRES=user
DATABASE_MDP_POSTGRES=password
DATABASE_NAME_POSTGRES=dbname
DATABASE_HOST_POSTGRES=postgres-db
DATABASE_PORT_POSTGRES=5432
DATABASE_URL_POSTGRES=postgresql://${DATABASE_USER_POSTGRES}:${DATABASE_MDP_POSTGRES}@${DATABASE_HOST_POSTGRES}:${DATABASE_PORT_POSTGRES}/${DATABASE_NAME_POSTGRES}
