<div class="profile-container">
  <h1>Modifications des informations</h1>

  <div class="profile-form">
    <mat-form-field appearance="outline">
      <mat-label>Prénom</mat-label>
      <input matInput [(ngModel)]="restaurateurProfile.firstName" placeholder="ex : Jhon">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Nom</mat-label>
      <input matInput [(ngModel)]="restaurateurProfile.lastName" placeholder="ex : Doe">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Date de naissance</mat-label>
      <input matInput [(ngModel)]="restaurateurProfile.birthDate" placeholder="ex : 01/01/2020">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>E-mail</mat-label>
      <input matInput [(ngModel)]="restaurateurProfile.email" placeholder="ex : cesi@cesi.Fr">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Mot de passe</mat-label>
      <input matInput [(ngModel)]="restaurateurProfile.password" type="password" placeholder="ex : **********">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Adresse</mat-label>
      <input matInput [(ngModel)]="restaurateurProfile.address" placeholder="ex : 24 Le Paquebot">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>N° de téléphone</mat-label>
      <input matInput [(ngModel)]="restaurateurProfile.phoneNumber" placeholder="ex : +33 6 00 00 00 00">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Raison sociale (Nom du restaurant)</mat-label>
      <input matInput [(ngModel)]="restaurateurProfile.companyName" placeholder="ex : L'escale">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>N° de SIRET</mat-label>
      <input matInput [(ngModel)]="restaurateurProfile.siretNumber" placeholder="ex : 012 345 678 90123">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Nom du titulaire du compte</mat-label>
      <input matInput [(ngModel)]="restaurateurProfile.accountHolder" placeholder="ex : Jhon DOE">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>IBAN</mat-label>
      <input matInput [(ngModel)]="restaurateurProfile.iban" placeholder="ex : FR76 3000 4028 3798 7654 3210 943">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Frais de livraison</mat-label>
      <input matInput [(ngModel)]="restaurateurProfile.deliveryFee" placeholder="ex : 6.00 €">
    </mat-form-field>

    <div class="button-group">
      <button mat-raised-button color="primary" (click)="onSave()">SAUVEGARDER</button>
      <button mat-raised-button (click)="onCancel()">ANNULER</button>
    </div>
  </div>
</div> 