# Informations de base
NODE_ENV=development
PORT=3003
TCP_PORT=4003

# Configuration de la base de données
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/advanced_web_project?schema=public"

# Adresses des microservices (pour les communications directes)
USER_SERVICE_URL=http://localhost:3001
PRODUCT_SERVICE_URL=http://localhost:3002
API_GATEWAY_URL=http://localhost:3000

# Clés de sécurité
JWT_SECRET=votre_cle_secrete_pour_jwt

# Options de logging
LOG_LEVEL=debug 