<div class="container">
  <h1>Restaurants</h1>
  <div class="restaurant-grid" *ngIf="(filteredRestaurants$ | async)?.length">
    <app-restaurant-card
      *ngFor="let restaurant of filteredRestaurants$ | async"
      [restaurant]="restaurant"
      (detailsClick)="showRestaurantDetails(restaurant.id)"
    ></app-restaurant-card>
  </div>
  <div class="no-results" *ngIf="!(filteredRestaurants$ | async)?.length">
    <mat-icon class="no-results-icon">search_off</mat-icon>
    <h2>Aucun restaurant trouvé</h2>
    <p>Essayez de modifier vos critères de recherche</p>
  </div>
</div>
