/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Dialog styles */
.rounded-dialog .mat-mdc-dialog-surface {
  border-radius: 20px;
  overflow: hidden;
}

.scrollable-dialog {
  .mat-mdc-dialog-container {
    .mat-mdc-dialog-surface {
      display: flex;
      flex-direction: column;
      max-height: 90vh;
      
      .mat-mdc-dialog-content {
        max-height: none;
        flex: 1;
        overflow-y: auto;
      }
    }
  }
}
