# Informations de base
NODE_ENV=development
PORT=3000

# URLs des microservices
USER_SERVICE_URL=http://localhost:3001
PRODUCT_SERVICE_URL=http://localhost:3002
DELIVERY_SERVICE_URL=http://localhost:3003
ORDER_SERVICE_URL=http://localhost:3004

# Configuration de sécurité
JWT_SECRET=votre_cle_secrete_pour_jwt
JWT_EXPIRES_IN=1h

# Options de logging
LOG_LEVEL=debug

# Configuration CORS
CORS_ORIGIN=* 